{% set _account = myData.accounts[myData.account] %}

<!-- Layout type -->
{% set _homepageURL = "employer-home" %}
{% if _account.type == "emp" %}
  {% extends "layout-as-emp.html" %}
{% elif _account.type == "pro" %}
  {% set _homepageURL = "provider-home" %}
  {% extends "layout-as-pro.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        There's been an error
      </h1>

      {% if _account.type == "pro" %}
        <p class="govuk-body">This error has been logged and will be investigated.</p>
      {% else %}
        <p class="govuk-body">If you entered a web address please check it was correct.</p>
      {% endif %}

      <p class="govuk-body">You can return to the <a href="{{_homepageURL}}" class="govuk-link">start page</a> to try again.</p>

    </div>
</div>

{% endblock %}