{% set _account = myData.accounts[myData.pro] %}

{% set _employersTotal = _account.employers|length %}
{% set _employers = [] %}
{% set _employersFilteredTotal = 0 %}
{% for _employer in _account.employers %}
  {% if myData.empsearchapplied == false or (myData.empsearchapplied == true and _employer.search == true) %}
    {% set _employersFilteredTotal = _employersFilteredTotal + 1 %}
    {% set _employers = (_employers.push(_employer), _employers) %}
  {% endif %}
{% endfor %}

<!-- Layout type -->
{% if _account.type == "emp" %}
  {% extends "layout-as-emp.html" %}
{% elif _account.type == "pro" %}
  {% extends "layout-as-pro.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" >
          [Which non-levy employer are you reserving funds for?]
      </h1>

      <!-- Search box -->

      <!-- TODO -->
      <!-- If no javascript -->
      <form method="GET" >
        <div class="search-wrapper govuk-form-group" >
          <label for="search-employers" class="govuk-label" >
              [Search employer, account name or agreement ID]
          </label>
          <div class="search-input-wrapper">
            <input type="search" value="{% if myData.empsearchapplied == true %}{{myData.empsearchTerm}}{% endif %}" id="search-employers" name="q" title="Search" class="govuk-input">
            <div class="search-input-submit-wrapper">
              <button type="submit" class="search-submit">Search</button>
            </div>
          </div>
        </div>
      </form>

      <!-- Clear search -->
      {% if myData.empsearchapplied == true %}
        <p class="govuk-body"><a href="reserve-choose-org-pro" class="govuk-link govuk-link--no-visited-state">
          Clear search
        </a></p>
      {% endif %}
      
      <!-- Count -->
      <p class="govuk-body">
        {{_employersFilteredTotal}} {% if _employersFilteredTotal == 1 %}employer{% else %}employers{% endif %}{% if myData.empsearchapplied == true %} matching <strong>‘{{myData.empsearchTerm}}’</strong>{% endif %}
      </p> 

      {% if _employersFilteredTotal > 0 %}
        <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Employer</th>
                <th scope="col" class="govuk-table__header">Account name</th>
                <th scope="col" class="govuk-table__header">Agreement&nbsp;ID</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for _employer in _employers %}
              {% set _employerReachedLimit = false %}
              {% if _employer.reservations >= myData.limit %}
                {% set _employerReachedLimit = true %}
              {% endif %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <strong>{{_employer.name|upper}}</strong>
                    <br><span class="govuk-!-font-size-16">[{{myData.limit - _employer.reservations}} of {{myData.limit}} {% if myData.limit != 1 %}reservations{% else %}reservation{% endif %} left]</span>
                  </td>
                  <td class="govuk-table__cell">{{_employer.aname}}</td>
                  <td class="govuk-table__cell">{{_employer.id}}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric" >
                    {% if _employerReachedLimit == false %}
                    <a href="reserve-confirm-org?employer={{_employer.id}}" class="govuk-link govuk-link--no-visited-state">Select</a>
                    {% else %}
                    <!-- [Reached limit] -->
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      {% endif %}

    </div>
</div>

{% endblock %}

{% block pageScripts %}
<!-- <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
  $(document).ready(function() {
    $('.autocomplete-element').each(function() {
    //   var _defaultValue = '{{_defaultValue}}';
      var selectEl = document.querySelector('#' + $(this).attr('id') )
      accessibleAutocomplete.enhanceSelectElement({
        autoselect: false,
        defaultValue: '',
        minLength: 3,
        selectElement: selectEl,
        placeholder: 'Start typing to search employers',
        showAllValues: false,
        displayMenu: "overlay"
      })
    })
  })
</script> -->
{% endblock %}