{% set _account = myData.accounts[myData.pro] %}

<!-- Visible reservations -->
{% set _reservations = [] %}
{% set _reservationsTotal = 0 %}
{% set _reservationsFilteredTotal = 0 %}
{% for _reservation in _account.reservations %}

  <!-- Expired -->
  {% if _reservation.status == "expired" %}

  {% endif %}

  <!-- Visible -->
  {% if _reservation.visible == true %}
      {% set _reservationsTotal = _reservationsTotal + 1 %}
      {% if myData.searchorfilterapplied == false or (myData.searchorfilterapplied == true and _reservation.search == true) %}
        {% set _reservationsFilteredTotal = _reservationsFilteredTotal + 1 %}
        {% set _reservations = (_reservations.push(_reservation), _reservations) %}
      {% endif %}
  {% endif %}

{% endfor %}

<!-- Layout type -->
{% if _account.type == "emp" %}
  {% extends "layout-as-emp.html" %}
{% elif _account.type == "pro" %}
  {% extends "layout-as-pro.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% set _reserveStartURL = "reserve-start" %}
{% if myData.paused != "false" %}
    {% set _reserveStartURL = "reserve-funding-paused" %}
{% elif myData.upcoming != "false" %}
    {% set _reserveStartURL = "reserve-upcoming" %}
{% endif %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<!-- Heading -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-bottom: 90px">
            Funding for non-levy employers
        </h1>
        <p class="govuk-body">This feature is currently only available to employers and training providers taking part in testing.</p>

        {% if _reservationsTotal > 0 %}
        <p class="govuk-body-l govuk-!-font-weight-bold"><a class="govuk-link govuk-link--no-visited-state" href="{{_reserveStartURL}}?type=pro">Reserve more funding</a></p>
        {% endif %}
  </div>
</div>


<!-- Search -->
{% if _reservationsTotal > 10 and (myData.search == "true" or myData.filters == "true") %}
<form method="GET" >

  <!-- Search -->
  {% if myData.search == "true" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="search-wrapper govuk-form-group" >
        <label for="search-reservations" class="govuk-label" >
          Search employer or apprenticeship training course
        </label>
        <div class="search-input-wrapper">
          <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}" id="search-reservations" name="q" title="Search" class="govuk-input">
          <div class="search-input-submit-wrapper">
            <button type="submit" class="search-submit">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Filters -->
  {% if myData.filters == "true" %}
  <div class="govuk-grid-column-full" style="background-color:#DEE0E2; margin-bottom: 20px; padding-top: 15px">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third" id="filters" >
          <!-- Employer filter -->
          <div class="govuk-form-group" style="margin-bottom: 20px" >
            <label class="govuk-label" for="emp_ft" >
              Employer
            </label>
            <select class="govuk-select filter" id="emp_ft" name="emp_ft" style="min-width: 100%">
              <option value="all" {% if myData.filterEmp == "all" %}selected{% endif %}>All</option>
              {% for _employer in _account.employers %}
                {% if _employer.reservations > 0 %}
                <option value="{{_employer.name}}" {% if myData.filterEmp == _employer.name %}selected{% endif %}>{{_employer.name|upper}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <!-- Course filter -->
          <div class="govuk-form-group" style="margin-bottom: 20px" >
            <label class="govuk-label" for="course_ft" >
                Apprenticeship training course
            </label>
            <select class="govuk-select filter" id="course_ft" name="course_ft" style="min-width: 100%">
              <option value="all" {% if myData.filterCourse == "all" %}selected{% endif %}>All</option>
              {% for _course in _account.courses %}
                <option value="{{_course.id}}" {% if myData.filterCourse == _course.id %}selected{% endif %}>{{_course.label}}</option>
              {% endfor %}
            </select>
          </div>
      </div>
      <div class="govuk-grid-column-one-third">
          <!-- Start dates filter -->
          <div class="govuk-form-group" style="margin-bottom: 20px">
            <label class="govuk-label" for="date_ft">
              Start date
            </label>
            <select class="govuk-select filter" id="date_ft" name="date_ft" style="min-width: 100%">
              <option value="all" {% if myData.filterDate == "all" %}selected{% endif %}>All</option>
              {% for _startDate in _account.startDates %}
              <option value="{{_startDate.id}}" {% if myData.filterDate == _startDate.id %}selected{% endif %}>{{_startDate.label}}</option>
              {% endfor %}
            </select>
          </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third" >
        <button type="submit" class="govuk-button" style="margin-bottom: 20px">Apply filters</button>
      </div>
    </div>
  </div>
  {% endif %}

</form>
{% endif %}

<!-- Table -->
{% if _reservationsTotal > 0 %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <!-- Clear search -->
    {% if myData.searchorfilterapplied == true %}
      <p class="govuk-body"><a href="reserve-reservations-pro" class="govuk-link govuk-link--no-visited-state">
        {% if myData.filters == "false" %}
        Clear search
        {% else %}
        Clear search and filters
        {% endif %}
      </a></p>
    {% endif %}
    
    <!-- Count -->
    <p class="govuk-body">
        {{_reservationsFilteredTotal}} {% if _reservationsFilteredTotal == 1 %}reservation{% else %}reservations{% endif %}{% if myData.searchorfilterapplied == true %} matching {% for _term in myData.searchfilters %}{% if loop.first == false and loop.last == false and loop.length > 1 %}, {% endif %}{% if loop.last and loop.length > 1 %} and {% endif %}<strong>{{_term}}</strong>{% endfor %}{% endif %}
    </p>

    {% if _reservationsFilteredTotal > 0 %}
    <table class="govuk-table">
        <!-- <caption class="govuk-table__caption">Dates and amounts</caption> -->
        <thead class="govuk-table__head" >
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Employer</th>
            <th scope="col" class="govuk-table__header">Apprenticeship training course</th>
            <th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header"></th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for _reservation in _reservations %}
          {% if myData.searchorfilterapplied == false or (myData.searchorfilterapplied == true and _reservation.search == true) %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="white-space: nowrap;">
              {{_reservation.entity | upper}}
              {% if _reservation.status == "used" %}
              <br><strong>Apprentice added</strong>
              {% endif %}
              <br>{{_entityCount}}
            </td>
            <td class="govuk-table__cell">{{_reservation.courselabel}}</td>
            <td class="govuk-table__cell" style="white-space: nowrap;">
              {{_reservation.startDatelabel}}
              {% if _reservation.status == "expired" %}
                <br><strong>Expired</strong>
              {% endif %}
            </td>
            <td class="govuk-table__cell" >
              {% if _reservation.status == "available" %}
                <a href="#add2" class="govuk-link govuk-link--no-visited-state">Add&nbsp;apprentice</a>
              {% else %}
                &nbsp;
              {% endif %}
            </td>
            <td class="govuk-table__cell" >
                {% if _reservation.status == "available" %}
                  <a href="reserve-delete?delete={{_reservation.id}}&type=pro" class="govuk-link govuk-link--no-visited-state">Delete</a>
                {% else %}
                  &nbsp;
                {% endif %}
              </td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </div>
</div>
{% endif %}

<!-- Pagination -->
{% if _reservationsTotal > 50 and myData.paging == "true" %}
{% set _currentPage = 1 %}
{% set _firstPage = "true" %}
{% set _lastPage = "false" %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <nav role="navigation" aria-label="Pagination">
        <p class="pagination__summary">Showing 1 &ndash; 50 of {{_reservationsFilteredTotal}} reservations</p>
        <ul class="pagination govuk-list">
          {% if _firstPage != "true" %}
          <li class="pagination__item"><a class="pagination__link govuk-link govuk-link--no-visited-state" href="#0" aria-label="Previous page">Previous</a></li>
          {% endif %}
          <li class="pagination__item"><a class="pagination__link govuk-link govuk-link--no-visited-state {% if _currentPage == 1 %}current{% endif %}" href="#0" aria-label="Page 1">1</a></li>
          <li class="pagination__item"><a class="pagination__link govuk-link govuk-link--no-visited-state {% if _currentPage == 2 %}current{% endif %}" href="#0" aria-label="Page 2">2</a></li>
          <li class="pagination__item"><a class="pagination__link govuk-link govuk-link--no-visited-state {% if _currentPage == 3 %}current{% endif %}" href="#0" aria-current="true" aria-label="Page 3, current page">3</a></li>
          <li class="pagination__item"><a class="pagination__link govuk-link govuk-link--no-visited-state {% if _currentPage == 4 %}current{% endif %}" href="#0" aria-label="Page 4">4</a></li>
          <li class="pagination__item"><a class="pagination__link govuk-link govuk-link--no-visited-state {% if _currentPage == 5 %}current{% endif %}" href="#0" aria-label="Page 5">5</a></li>
          {% if _lastPage != "true" %}
          <li class="pagination__item"><a class="pagination__link govuk-link govuk-link--no-visited-state" href="#0" aria-label="Next page">Next</a></li>
          {% endif %}
        </ul>
      </nav>
  </div>
</div>
{% endif %}

<!-- Zero reservations -->
{% if _reservationsTotal == 0 %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m ">There are no funding reservations to use</h1>
      <p class="govuk-body ">You need to reserve funding in order to add a new apprentice.</p>
      <a role="button" tabindex="1" draggable="false" class="govuk-button" href="{{_reserveStartURL}}?type=pro">Reserve funding</a>
    </div>
</div>
{% endif %}

{% endblock %}

{% block pageScripts %}
<script>
$(document).ready(function () {
  
  //
  // Back buttons usage fixes
  //
  //Search
  var _searchapplied = {{myData.searchapplied|dump|safe}},
      _searchValue = ""
  if(_searchapplied == true){
    _searchValue = {{myData.searchTerm|dump|safe}}
  }
  $('#search-reservations').val(_searchValue)
  //Filters
  $("select.filter").each(function () {
      // console.log($(this).val($(this).find('option[selected]')))
      $(this).val($(this).find('option[selected]').val());
  });

})
</script>
{% endblock %}