{% set _account = myData.accounts[myData.account] %}

<!-- Layout type -->
{% set _homepageURL = "employer-home" %}
{% if _account.type == "emp" %}
  {% extends "layout-as-emp.html" %}
{% elif _account.type == "pro" %}
  {% set _homepageURL = "provider-home" %}
  {% extends "layout-as-pro.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if _account.type == "emp" %}

        <h1 class="govuk-heading-xl">Access denied</h1>
        <p class="govuk-body">A member of your team will need to give you permission to reserve and manage funding.</p>
        <p class="govuk-body">View team members’ permission in your team.</p>

        <p class="govuk-body">
            <a href="#" role="button" draggable="false" tabindex="1" class="govuk-button">View your team</a>
        </p>

      {% else %}

        <h1 class="govuk-heading-xl">Access denied</h1>
        <p class="govuk-body">You need to speak to your organisation’s super user or request this role through <a href="https://logon.fasst.org.uk/" class="govuk-link" >Identity and Access Management System (IDAMS)</a>.</p>
        <p class="govuk-body">You may have more than one super user in your organisation.</p>

      {% endif %}

    </div>
</div>

{% endblock %}