{% set _account = myData.accounts[myData.account] %}

<!-- Layout type -->
{% if _account.type == "emp" %}
  {% extends "layout-as-emp.html" %}
{% elif _account.type == "pro" %}
  {% extends "layout-as-pro.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% set _inError = myData.validationError %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if _inError == "true" %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
            data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in myData.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <h1 class="govuk-heading-xl">
            Apprenticeship training
        </h1>

        <form method="POST">

            <div class="govuk-form-group {% if myData.validationErrors.whichTrainingCourseAnswer %}govuk-form-group--error{% endif %}">
                <h2 class="govuk-heading-m">Which apprenticeship training will the apprentice take?
                  </h2>
                <label class="govuk-label" for="whichTrainingCourseAnswer">
                    Search for a course
                </label>
                {% if myData.validationErrors.whichTrainingCourseAnswer %}
                <span id="whichTrainingCourseAnswer-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{myData.validationErrors.whichTrainingCourseAnswer.message}}
                </span>
                {% endif %}
                <div class="autocomplete-wrapper">
                    <select class="govuk-select autocomplete-element" id="whichTrainingCourse-1" name="whichTrainingCourseAnswer">
                        <option value="">Select one</option>
                        {% for _course in myData.courses.list %}
                        <option {%if _course.value == myData.whichTrainingCourseAnswerTemp %}selected{% endif %} value="{{_course.value}}">{{_course.name}} - Level {{_course.level}}</option>
                        {% endfor %}
                    </select>
                </div>
                <span class="govuk-hint govuk-!-margin-top-4">
                    This information can be changed later.
                </span>
            </div>

            <div class="govuk-form-group {% if myData.validationErrors.whichTrainingStartDateAnswer %}govuk-form-group--error{% endif %}">
                <h2 class="govuk-heading-m">When will the apprenticeship training start?</h2>
                <fieldset class="govuk-fieldset" aria-describedby="radio-hint">
                    <span id="radio-hint" class="govuk-hint">
                        The apprenticeship training can start anytime in the month you choose or the following 2 months.
                      </span>
                    {% if myData.validationErrors.whichTrainingStartDateAnswer %}
                    <span id="whichTrainingStartDateAnswer-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{myData.validationErrors.whichTrainingStartDateAnswer.message}}
                    </span>
                    {% endif %}
                    <div class="govuk-radios" id="whichTrainingStartDateAnswer">
                        {% set _index = 1 %}
                        {% set _show = true %}
                        {% set _hiddenSet = false %}
                        {% for startDate in myData.startDates %}
                          {% if startDate.promvs == true %}

                            {% if myData.hidedates == "no" or myData.reservationsadded < myData.hidedates %}
                              {% set _show = true %}
                            {% else %}
                              {% if _hiddenSet == false %}
                                {% set _show = false %}
                                {% set _hiddenSet = true %}
                              {% else %}
                                {% set _show = true %}
                              {% endif %}
                            {% endif %}

                            {% if _show == true %}
                              <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="whichTrainingStartDate-{{_index}}" name="whichTrainingStartDateAnswer" type="radio" value="{{startDate.id}}" {% if myData.whichTrainingStartDateAnswerTemp == startDate.id %}checked{% endif %}>
                                  <label class="govuk-label govuk-radios__label" for="whichTrainingStartDate-{{_index}}">
                                      {{startDate.name}}
                                  </label>
                              </div>
                              {% set _index = _index + 1 %}
                            {% endif %}

                          {% endif %}
                        {% endfor %}
                    </div>
                </fieldset>
            </div>

            <!-- Button -->
            {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ govukButton({
              text: "Save and continue"
            }) }}

        </form>

    </div>
</div>

{% endblock %}

{% block pageScripts %}
<!-- <script src="/public/javascripts/jquery-1.11.3.js"></script> -->
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
  $(document).ready(function() {
    $('.autocomplete-element').each(function() {
    //   var _defaultValue = '{{_defaultValue}}';
      var selectEl = document.querySelector('#' + $(this).attr('id') )
      accessibleAutocomplete.enhanceSelectElement({
        autoselect: false,
        defaultValue: '',
        minLength: 3,
        selectElement: selectEl,
        placeholder: 'Start typing to search apprenticeships',
        showAllValues: false,
        displayMenu: "overlay"
      })
    })
  })
</script>
{% endblock %}