{% set _account = myData.accounts[myData.account] %}

<!-- Layout type -->
{% if _account.type == "emp" %}
  {% extends "layout-as-emp.html" %}
{% elif _account.type == "pro" %}
  {% extends "layout-as-pro.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% set _inError = myData.validationError %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if _inError == "true" %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in myData.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form method="POST">

            <div class="govuk-form-group {% if _inError == 'true' %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset" >
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Select a training provider
                        </h1>
                    </legend>
                    <span class="govuk-hint">
                        Select which training provider you want to assign this reservation to.
                    </span>
                    {% if myData.validationErrors.whichProvider3Answer %}
                    <span id="whichProvider3Answer-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{myData.validationErrors.whichProvider3Answer.message}}
                    </span>
                    {% endif %}
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios" id="whichProvider3Answer">

                        {% for _provider in _account.providers %}

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="whichProvider3-{{loop.index}}" name="whichProvider3Answer" type="radio" value="{{_provider.name}}" {% if myData.whichProvider3AnswerTemp == '{{_provider.name}}' %}checked{% endif %}>
                                <label class="govuk-label govuk-radios__label" for="whichProvider3-{{loop.index}}">
                                    {{_provider.name}}<br>
                                    {{_provider.id}}
                                </label>
                            </div>

                        {% endfor %}

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="whichProvider3-{{_account.providers.length + 1}}" name="whichProvider3Answer" type="radio" value="other" {% if myData.whichProvider3AnswerTemp == 'other' %}checked{% endif %} data-aria-controls="conditional-other">
                            <label class="govuk-label govuk-radios__label" for="whichProvider3-{{_account.providers.length + 1}}">
                                Other
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="ukprn-1">
                                    UK Provider Reference Number
                                </label>
                                {% if myData.validationErrors.ukprnAnswer %}
                                <span id="ukprnAnswer-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    {{myData.validationErrors.ukprnAnswer.message}}
                                </span>
                                {% endif %}
                                <input class="govuk-input govuk-!-width-one-third {% if myData.validationErrors.ukprnAnswer %}govuk-input--error{% endif %}" id="ukprn-1" name="ukprnAnswer" value="{{myData.ukprnAnswerTemp}}" >
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Button -->
            {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ govukButton({
              text: "Save and continue"
            }) }}

        </form>

    </div>
</div>

{% endblock %}