{% set _account = myData.accounts[myData.account] %}

<!-- Layout type -->
{% if _account.type == "emp" %}
  {% extends "layout-as-emp.html" %}
{% elif _account.type == "pro" %}
  {% extends "layout-as-pro.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% set _selectedEmployer = {} %}
{% for _employer in _account.employers %}
    {% if myData.selectedEmployer == _employer.id %}
        {% set _selectedEmployer = _employer %}
    {% endif %}
{% endfor %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if myData.accountowner == "true" %}
            <h1 class="govuk-heading-xl">[Employer agreement not accepted]</h1>

            <p class="govuk-body">[The employer agreement is between {{_selectedEmployer.name|upper}} and the Education and Skills Funding Agency (ESFA).]</p>
            <p class="govuk-body">[{{_selectedEmployer.name|upper}} cannot reserve or manage funding until they accept the agreement.]</p>
            <p class="govuk-body">[You can view the agreement now or find it later in 'your organisations and agreements'.]</p>

            <p class="govuk-body">
              <a role="button" draggable="false" class="govuk-button" tabindex="1" href="#">[View the agreement]</a>
            </p>
        {% else %}
        <h1 class="govuk-heading-xl">[Employer agreement not accepted]</h1>
        <p class="govuk-body">[The employer agreement is between {{_selectedEmployer.name|upper}} and the Education and Skills Funding Agency (ESFA).]</p>
        <p class="govuk-body">[{{_selectedEmployer.name|upper}} cannot reserve or manage funding until they accept the agreement.]</p>
        <h2 class="govuk-heading-m">You do not have permission to accept the agreement]</h2>
        <p class="govuk-body">[Someone with permission needs to accept the agreement or give you permission to accept it.]</p>
        <p class="govuk-body">[Name] ([emailaddress]) has permission.]</p>
        <!-- Team members with permission:
        [Name] - [emailaddress]
        [Name 2] - [emailaddress] -->
        <p class="govuk-body">[Find the agreement in your <a href="#" class="govuk-link">organisations and agreements</a>. Change team members' permission in <a class="govuk-link" href="#">your team</a>.]</p>
        <p class="govuk-body">
          <a role="button" draggable="false" class="govuk-button" tabindex="1" href="employer-home">[Return to home]</a>
        </p>
        {% endif %}

    </div>
</div>
{% endblock %}