{% set _account = myData.accounts[myData.account] %}

<!-- Layout type -->
{% set _homepageURL = "employer-home" %}
{% if _account.type == "emp" %}
  {% extends "layout-as-emp.html" %}
{% elif _account.type == "pro" %}
  {% set _homepageURL = "provider-home" %}
  {% extends "layout-as-pro.html" %}
{% else %}
  {% extends "layout.html" %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-xl">
            Page not found
        </h1>

        <p class="govuk-body">If the web address is correct or you selected a link or button, <a href="#" class="govuk-link">contact the Manage apprenticeships service helpdesk</a> if you need to speak to someone about managing funds.</p>
        <p class="govuk-body">If you typed the web address, check it is correct.</p>
        <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>

    </div>
</div>

{% endblock %}