{% set _account = myData.accounts[myData.account] %}

{% set _empAccount = myData.accounts[myData.emp] %}
{% set _empAccountName = _empAccount.name %}
{% set _proAccountName = myData.accounts[myData.pro].name %}

{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">Prototype setup</h1>

        <p class="govuk-body" >
                <a href="setup?reset=true" class="govuk-link govuk-link--no-visited-state">Reset</a>
            </p>  
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <h1 class="govuk-heading-s">Account type</h1>

        <!-- Employer or Provider -->
        <div class="govuk-form-group">
            <!-- <label class="govuk-label govuk-!-font-size-24" for="setupType" >
                Employer or provider
            </label> -->
            <select class="govuk-select govuk-!-font-size-27 govuk-!-font-weight-bold" style="height: 50px" id="setupType" name="setupType" data-option="setupType">
                <option {% if myData.type == 'emp' %}selected{% endif %} value="emp">Employer</option>
                <option {% if myData.type == 'pro' %}selected{% endif %} value="pro">Provider</option>
            </select>
        </div>

        <!-- Employer dataset -->
        <!-- <div class="govuk-form-group" >
            <label class="govuk-label" for="setupEmpAccount">
                Employer account
            </label>
            <select class="govuk-select" id="setupEmpAccount" name="setupEmpAccount" data-option="setupEmpAccount">
                {% for key, _account in myData.accounts %}
                    {% if _thisAccount.type == "emp" %}
                        <option {% if myData.emp == key %}selected{% endif %} value="{{key}}">{{_thisAccount.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div> -->


            <!-- Employer account name -->
            <div class="govuk-form-group">
                <label class="govuk-label" for="setupName">
                    DAS Account name
                </label>
                <input class="govuk-input" id="setupName" name="setupName" data-option="setupName" type="text" value="{{_account.name}}">
            </div>

            <!-- Employer account name -->
            <div class="govuk-form-group" id="entity">
                <label class="govuk-label" for="setupEntity">
                    Company Name
                </label>
                <input class="govuk-input" id="setupEntity" name="setupEntity" data-option="setupEntity" type="text" value="{{_empAccount.entities[0].name}}" onkeyup="this.value = this.value.toUpperCase();">
            </div>

            <!-- Reservations -->
            <div class="govuk-form-group">
                <label class="govuk-label" for="setupCount">
                    Preload reservations
                </label>
                <select class="govuk-select" id="setupCount" name="setupCount" data-option="setupCount">
                    <option {% if myData.count == '0' %}selected{% endif %} value="0">0</option>
                    <option {% if myData.count == '1' %}selected{% endif %} value="1">1</option>
                    <option {% if myData.count == '2' %}selected{% endif %} value="2">2</option>
                    <option {% if myData.count == '8' %}selected{% endif %} value="8">8</option>
                    <option {% if myData.count == '9' %}selected{% endif %} value="9">9</option>
                    <option {% if myData.count == '10' %}selected{% endif %} value="10">10</option>
                    <option {% if myData.count == '25' %}selected{% endif %} value="25" data-preload="pro">25</option>
                    <option {% if myData.count == '100' %}selected{% endif %} value="100" data-preload="pro">100</option>
                    <option {% if myData.count == '999999' %}selected{% endif %} value="999999">All available</option>
                </select>
            </div>

            <h1 class="govuk-heading-s">Spend controls</h1>

            <!-- Reservations limit -->
            <div class="govuk-form-group" id="limit">
                <label class="govuk-label" for="setupLimit">
                    Limit
                </label>
                <select class="govuk-select" id="setupLimit" name="setupLimit" data-option="setupLimit">
                    <option {% if myData.limit == 'no' %}selected{% endif %} value="no">No</option>
                    <option {% if myData.limit == '10' %}selected{% endif %} value="10">10 limit</option>
                </select>
            </div>

            <!-- Employer limit (pro) -->
            <div class="govuk-form-group" style="margin-bottom: 10px" id="empLimit">
                <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="setupEmpLimit" name="setupEmpLimit" type="checkbox" value="setupEmpLimit" data-option="setupEmpLimit" {% if myData.emplimit == "true" %}checked{% endif %}>
                    <label class="govuk-label govuk-checkboxes__label" for="setupEmpLimit">
                        Employer reached limit
                    </label>
                </div>
                </div>
            </div>

            <!-- Upcoming change -->
            <div class="govuk-form-group"  id="empLimit">
                <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="setupUpcoming" name="setupUpcoming" type="checkbox" value="setupUpcoming" data-option="setupUpcoming" {% if myData.upcoming == "true" %}checked{% endif %}>
                    <label class="govuk-label govuk-checkboxes__label" for="setupUpcoming">
                        Upcoming change
                    </label>
                </div>
                </div>
            </div>

    </div>

    <div class="govuk-grid-column-one-half" data-pro-components="true">

            <h1 class="govuk-heading-s">UI Components</h1>

            <!-- Search -->
            <div class="govuk-form-group" style="margin-bottom: 10px">
                <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="setupSearch" name="setupSearch" type="checkbox" value="setupSearch" data-option="setupSearch" {% if myData.search == "true" %}checked{% endif %}>
                    <label class="govuk-label govuk-checkboxes__label" for="setupSearch">
                    Search
                    </label>
                </div>
                </div>
            </div>

            <!-- Filters -->
            <div class="govuk-form-group" style="margin-bottom: 10px">
                <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="setupFilters" name="setupFilters" type="checkbox" value="setupFilters" data-option="setupFilters" {% if myData.filters == "true" %}checked{% endif %}>
                    <label class="govuk-label govuk-checkboxes__label" for="setupFilters">
                    Filters
                    </label>
                </div>
                </div>
            </div>

            <!-- Paging -->
            <div class="govuk-form-group" >
                <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="setupPaging" name="setupPaging" type="checkbox" value="setupPaging" data-option="setupPaging" {% if myData.paging == "true" %}checked{% endif %}>
                    <label class="govuk-label govuk-checkboxes__label" for="setupPaging">
                    Paging
                    </label>
                </div>
                </div>
            </div>

    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <p class="govuk-body" id="start-url" style="display:none">
            <a href="#" role="button" draggable="false" class="govuk-button">Start prototype</a>
        </p>

        <p class="govuk-body" >
            <span class="govuk-!-font-weight-bold">Shareable link:</span><br>
            <span class="govuk-body" id="start-url-label" style="display:none"></span>
        </p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

         

    </div>
    <!-- <div class="govuk-grid-column-one-third">
        &nbsp;
    </div> -->
</div>

<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body" >{{myData.generatedReservations|dump|safe}}</p>
    </div>
</div> -->

{% endblock %}

{% block pageScripts %}
<script>
    $(document).ready(function(){

        var _startURL = $("#start-url a"),
            _startURLLabel = $("#start-url-label"),
            _options = $("[data-option]"),
            _entity = $("#entity"),
            _limit = $("#limit"),
            _empLimit = $("#empLimit")

        _options.change(function(){
            setValues()
        }).trigger("change");

        //Type switcher
        //SET UP FORM
        $("#setupType").change(function(){
            var _thisVal = $(this).val(),
                _companyName = (_thisVal == "emp") ? {{_empAccountName|dump|safe}} : {{_proAccountName|dump|safe}},
                _setupName = $("#setupName")

            if(_thisVal == "emp") {
                _entity.show()
                _limit.show()
                _empLimit.hide()
                $("[data-preload]").hide()
                $("[data-pro-components]").hide()
            } else {
                _entity.hide()
                _limit.hide()
                _empLimit.show()
                $("[data-preload]").show()
                $("[data-pro-components]").show()
            }
            _setupName.val(_companyName)

            setValues()

        }).trigger("change");

        //SET VALUES
        function setValues(){
            //Base URL
            var _urlBase = "https://das-reserve-funding-prototype.herokuapp.com/" + {{myData.version|dump|safe}} + "/";
            //Queries
            var _urlPage = (_options.filter("#setupType").val() == "pro") ? "provider-home?" : "employer-home?",
                _urlReset = "rs=true",

                _urlType = "&t=" + _options.filter("#setupType").val(),
                _urlName = "&n=" + _options.filter("#setupName").val(),
                _urlEntityName = "&en=" + _options.filter("#setupEntity").val(),
                _urlCount = "&c=" + _options.filter("#setupCount").val(),
                _urlLimit = "&l=" + _options.filter("#setupLimit").val(),

                _urlEmpLimit = (_options.filter("#setupEmpLimit").is(":checked")) ? ("&el=true") : ("&el=false"),
                _urlUpcoming = (_options.filter("#setupUpcoming").is(":checked")) ? ("&up=true") : ("&up=false"),

                _urlPaging = (_options.filter("#setupPaging").is(":checked")) ? ("&c_pg=true") : ("&c_pg=false"),
                _urlSearch = (_options.filter("#setupSearch").is(":checked")) ? ("&c_sr=true") : ("&c_sr=false"),
                _urlFilters = (_options.filter("#setupFilters").is(":checked")) ? ("&c_ft=true") : ("&c_ft=false");
           
            //Queries combined
            //Base
            var _urlPageQueries = _urlPage + _urlReset + _urlType + _urlName + _urlCount + _urlLimit + _urlUpcoming;
            //Base + type specific
            if(_options.filter("#setupType").val() == "emp") {
                var _urlPageQueries = _urlPageQueries + _urlEntityName;
            } else {
                var _urlPageQueries = _urlPageQueries + _urlEmpLimit + _urlPaging + _urlSearch + _urlFilters
            }
            //URL text
            var _startURLText = _urlBase + _urlPageQueries,
                _startURLHREF =  _urlPageQueries;
            // update label
            _startURLLabel
                .text(_startURLText)
                .show()
            //update link
            _startURL
                .attr("href", _startURLHREF)
                .parent().show()
        }

    });
</script>
{% endblock %}