{% extends "layout.html" %}

{% block pageTitle %}
Reserve funding prototype
{% endblock %}

{% block content %} 

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Reserve funding prototype
    </h1>

    <ul class="govuk-list govuk-list--bullet govuk-body-l">
      <li style="margin-bottom:20px"><a href="/16-0/setup" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 16</a> (in progress)
        <ul class="govuk-list govuk-list--bullet">
          <li style="margin-bottom: 0px">Upcoming date always 2 months away <a href="https://trello.com/c/5bLqz2ut" target="_blank" class="govuk-link govuk-link--no-visited-state">card #13</a> </li>
          <li style="margin-bottom: 0px">Search for employer <a href="https://trello.com/c/KKKH7aNg" target="_blank" class="govuk-link govuk-link--no-visited-state">card #71</a> <span class="govuk-!-font-weight-bold" style="color:rgb(255, 111, 0)">(in progress)</span> </li>
          <li style="margin-bottom: 0px">Start date: I don't know option incl. dropout <a href="https://trello.com/c/7brJTKdL" target="_blank" class="govuk-link govuk-link--no-visited-state">card #144</a></li>
          <li style="margin-bottom: 0px">Assign provider to reservation <a href="https://trello.com/c/2olNeEjU" target="_blank" class="govuk-link govuk-link--no-visited-state">card #149</a></li>
          <li style="margin-bottom: 0px">Hiding org rows if 1 org  <a href="https://trello.com/c/l2losURX" target="_blank" class="govuk-link govuk-link--no-visited-state">card #152</a></li>
          <li style="margin-bottom: 0px">Employer non EOI page <a href="https://trello.com/c/sJdu2BOE" target="_blank" class="govuk-link govuk-link--no-visited-state">card #153</a> </li>
        </ul>
      </li>
      <li style="margin-bottom:20px"><a href="/15-0/setup" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 15</a> (tested: XXX 2019)
        <ul class="govuk-list govuk-list--bullet">
          <li style="margin-bottom: 0px">Manage page (provider): search, pagination and filters <a href="https://trello.com/c/9dnOLy9f" target="_blank" class="govuk-link govuk-link--no-visited-state">card #148</a></li> 
          <li style="margin-bottom: 0px">Manage page (provider): table layout, ordering, misc content changes (incl. 0 reservations view)</li>
          <li style="margin-bottom: 0px">Choose course page: yes/no choice</li>
          <li style="margin-bottom: 0px">Choose org page: skip page if 1</li>
          <li style="margin-bottom: 0px">Dropout - dont know course page: new page</li>
          <li style="margin-bottom: 0px">Hiding org column if 1 org  <a href="https://trello.com/c/l2losURX" target="_blank" class="govuk-link govuk-link--no-visited-state">card #152</a></li>
          <li style="margin-bottom: 0px">Manage page (employer): table layout, ordering</li>
        </ul>
      </li>
      <li style="margin-bottom:20px"><a href="/14-0/setup" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 14</a> (MVS - September 2019)</li>
      <li style="margin-bottom:20px"><a href="https://esfa-create-apprenticeship.herokuapp.com/reserve/" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Versions 1 - 13</a> (up to August 2019)</li>
    </ul>
  </div>
</div>

{% endblock %}