{% extends "layout.html" %}

{% block pageTitle %}
Reserve funding prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Reserve funding prototype
    </h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/1-0/funding-reservations?resetSession=true">Version 1</a> (replicated build on 18/09/19)</li>
      <li><a href="https://esfa-create-apprenticeship.herokuapp.com/reserve/">pre 18 August 2019</a></li>
    </ul>
  </div>
</div>

{% endblock %}