{% set _account = myData.accounts[myData.accountID] %}

{% if _account.type == "employer" %}
  {% extends "layout-as-emp.html" %}
{% elif _account.type == "provider" %}
  {% extends "layout-as-pro.html" %}
{% endif %}

{% set _inError = myData.validationError %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% set _account = myData.accounts[myData.accountID] %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if _inError == "true" %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
            data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in myData.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <h1 class="govuk-heading-xl">
            When will the apprentice start their apprenticeship training?
        </h1>

        <form method="POST">

            <div
                class="govuk-form-group {% if myData.validationErrors.whichStartDateAnswer %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset" aria-describedby="radio-hint">
                    <span id="radio-hint" class="govuk-hint">
                        The apprentice can start their apprenticeship training anytime in the month you choose, or the following 2 months.
                    </span>
                    {% if myData.validationErrors.whichStartDateAnswer %}
                    <span id="whichStartDateAnswer-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        You must select a start date
                    </span>
                    {% endif %}
                    <div class="govuk-radios" id="whichStartDateAnswer">
                        {% for startDate in myData.startDates %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="whichStartDate-{{loop.index}}" name="whichStartDateAnswer" type="radio" value="{{startDate.id}}" {% if myData.whichStartDateAnswerTemp == startDate.id %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="whichStartDate-{{loop.index}}">
                                {{startDate.name}}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>

            <!-- Button -->
            {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ govukButton({
              text: "Save and continue"
            }) }}

        </form>

    </div>
</div>

{% endblock %}